
<div class="login-container">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">

    <h2>Login</h2>

    <div>
      <label for="userType">I am a:</label>
      <select id="userType" [(ngModel)]="userType" name="userType" required>
        <option value="tutor">Tutor</option>
        <option value="student">Student</option>
      </select>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
    
      <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required>

    </div>
    <div class="form-group">
      <label for="password">Password</label>
     
      <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" required>


    
    </div>
    <div class="form-group remember-me">
      <input type="checkbox" id="rememberMe" name="rememberMe" ngModel />
      <label for="rememberMe">Remember Me</label>
    </div>
    <button type="submit" [disabled]="!loginForm.valid" class="btn-submit">
      Login
    </button>
    <div class="forgot-password">
      <a href="/reset-password">Forgot your password?</a>
    </div>

    <p class="text-danger" *ngIf="message">{{ message }}</p>
  </form>
</div>
