

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

.checkbox-group label {
  margin-bottom: 5px;
}

input[type="file"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;  
  
}

button:disabled {
  background-color: #cccccc;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  /* margin-bottom: 0.5rem; */
  font-family: "Handlee", cursive;
  font-weight: bold;
  line-height: 1.2;
  color: #00394f;
}
h1, .h1 {
    font-size: 2.5rem;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Focus state for inputs and select */
.form-control:focus {
  border-color: #5b9bd5;
  box-shadow: 0 0 8px rgba(91, 155, 213, 0.2);
}

/* Error state for validation */
.form-control.ng-invalid.ng-touched {
  border-color: #e74c3c;
}

/* Add animation for focus and error state */
.form-control:focus,
.form-control.ng-invalid.ng-touched {
  animation: pulse 0.5s;
}

/* Animation definition */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  }
  70% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  }


}

.warning-message{
  color: red;
}
