

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading ">
            	<h2 class=" student-profile">Student Profile </h2>            
            </div>
        </div>
    </div>
</header>

<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <div class="Scriptcontent">
              
<!-- Student Profile -->
<div class="student-profile py-4 bg-info">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow-sm ">
          <div class="card-header bg-transparent text-center">
            <img class="profile_img" src="assets/img/user.jpg" alt="student dp">
            <h3>Siva Kumar</h3>
          </div>
          
          <div class="card-body">
            <p class="mb-0"><strong class="pr-1">Student ID:</strong>321000001</p>
            <p class="mb-0"><strong class="pr-1">Class:</strong>4</p>
            <p class="mb-0"><strong class="pr-1">Section:</strong>A</p>
          </div>
        </div>
        <div class="mb-5  sub-expert mt-3">
            <h2 class="mb-4">Classes Information</h2>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center px-3 text-info">
                <a href="javascript:void(0)" (click)="displayData()" class="text-info">Maths - Mahesh-Konamoni</a>
                <span class="badge badge-primary badge-pill">150</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-3">
                <a href="javascript:void(0)" (click)="displayData()" class="text-info">Science - Charan Kuramana</a>
                <span class="badge badge-primary badge-pill">131</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-3">
                <a href="javascript:void(0)" (click)="displayData()" class="text-info">Abacus - Siva Kumar</a>
                <span class="badge badge-primary badge-pill">78</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-3">
                <a href="javascript:void(0)" (click)="displayData()" class="text-info">Social - Mallikarjuna Gonne</a>
                <span class="badge badge-primary badge-pill">56</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center px-3">
    
                <a href="javascript:void(0)" (click)="displayData()" class="text-info">Hindi - Uday Medam</a>
                <span class="badge badge-primary badge-pill">98</span>
              </li>
            </ul>

          </div>
                  
      </div>
     

    
      <div class="col-lg-8">
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h2 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h2>
          </div>
          <div class="card-body pt-0">
            <table class="table table-bordered">
              <tr>
                <th width="30%">Roll</th>
                <td width="2%">:</td>
                <td>125</td>
              </tr>
              <tr>
                <th width="30%">Academic Year	</th>
                <td width="2%">:</td>
                <td>2020</td>
              </tr>
              <tr>
                <th width="30%">Gender</th>
                <td width="2%">:</td>
                <td>Male</td>
              </tr>
              <tr>
                <th width="30%">Religion</th>
                <td width="2%">:</td>
                <td>Group</td>
              </tr>
              <tr>
                <th width="30%">blood</th>
                <td width="2%">:</td>
                <td>B+</td>
              </tr>
            </table>
          </div>
        </div>
          <div style="height: 26px"></div>
        <div class="card shadow-sm">
          <div class="card-header bg-transparent border-0">
            <h2 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h2>
          </div>
          <div class="card-body pt-0">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div style=" margin-left: -80px;">
      
      </div> -->
      <div style="margin-left: -30px; width: 980px;">
       
            <app-arrange-a-tutor/>
             
      </div>
     
  </div>
</div>
<!-- partial -->
           
    		</div>
		</div>
    </div>
</section>
