<div class="container py-5">
  <h2 class=" student-profile">Student Profile </h2>

  <header class="ScriptHeader">
    <div class="rt-container">
      <div class="col-rt-12">
        <div class="rt-heading ">

        </div>
      </div>
    </div>
  </header>

  <section>
    <div class="rt-container">
      <div class="col-rt-12">
        <div class="Scriptcontent">

          <!-- Student Profile -->
          <div class="student-profile py-4 ">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 ">
                  <div class="card shadow-sm bg-info  ">
                    <div class="card-header  text-center">
                      <img class="profile_img" src="assets/img/user.jpg" alt="student dp">
                      <h3 class="text-white">Siva Kumar</h3>
                    </div>

                    <div class="card-body text-white">
                      <p class="mb-0"><strong class="pr-1">Student ID:</strong>321000001</p>
                      <p class="mb-0"><strong class="pr-1">Class:</strong>4</p>
                      <p class="mb-0"><strong class="pr-1">Section:</strong>A</p>
                    </div>
                  </div>
                  <div class="mb-5  sub-expert mt-3">
                    <h2 class="mb-4">Classes Information</h2>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item d-flex justify-content-between align-items-center px-3 text-info">
                        <a href="javascript:void(0)" (click)="displayData()" class="text-info">Maths -
                          Mahesh-Konamoni</a>
                        <span class="badge badge-primary badge-pill">150</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center px-3">
                        <a href="javascript:void(0)" (click)="displayData()" class="text-info">Science - Charan
                          Kuramana</a>
                        <span class="badge badge-primary badge-pill">131</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center px-3">
                        <a href="javascript:void(0)" (click)="displayData()" class="text-info">Abacus - Siva Kumar</a>
                        <span class="badge badge-primary badge-pill">78</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center px-3">
                        <a href="javascript:void(0)" (click)="displayData()" class="text-info">Social - Mallikarjuna
                          Gonne</a>
                        <span class="badge badge-primary badge-pill">56</span>
                      </li>
                      <li class="list-group-item d-flex justify-content-between align-items-center px-3">

                        <a href="javascript:void(0)" (click)="displayData()" class="text-info">Hindi - Uday Medam</a>
                        <span class="badge badge-primary badge-pill">98</span>
                      </li>
                    </ul>

                  </div>

                </div>



                <div class="col-lg-8">
                  <div class="card shadow-sm">
                    <div class="card-header bg-transparent border-0">
                      <h2 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h2>
                    </div>
                    <div class="card-body pt-0">
                      <table class="table table-bordered">
                        <tr>
                          <th width="30%">Roll</th>
                          <td width="2%">:</td>
                          <td>125</td>
                        </tr>
                        <tr>
                          <th width="30%">Academic Year </th>
                          <td width="2%">:</td>
                          <td>2020</td>
                        </tr>
                        <tr>
                          <th width="30%">Gender</th>
                          <td width="2%">:</td>
                          <td>Male</td>
                        </tr>
                        <tr>
                          <th width="30%">Religion</th>
                          <td width="2%">:</td>
                          <td>Group</td>
                        </tr>
                        <tr>
                          <th width="30%">blood</th>
                          <td width="2%">:</td>
                          <td>B+</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <div style="height: 26px"></div>
                  <div class="card shadow-sm ">
                    <div class="card-header bg-transparent border-0 ">
                      <h2 class="mb-0"><i class="far fa-clone pr-1"></i>Other Information</h2>
                    </div>
                    <div class="card-body pt-0 ">
                      <p class="text-dark">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div style=" margin-left: -80px;">
      
      </div> -->

              <div class="">


                <div style="margin-right: 1900px; width: 850px; margin-left: -260px;">
                  <app-arrange-a-tutor />
                </div>

                <div class="bg-light p-5">
                  <h2 class="mb-4">Leave a comment</h2>
                  <form>
                    <div class="form-group">
                      <label for="name">Name *</label>
                      <input type="text" class="form-control" id="name" />
                    </div>
                    <div class="form-group">
                      <label for="email">Email *</label>
                      <input type="email" class="form-control" id="email" />
                    </div>
                    <div class="form-group">
                      <label for="website">Website</label>
                      <input type="url" class="form-control" id="website" />
                    </div>
          
                    <div class="form-group">
                      <label for="message">Message *</label>
                      <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                    </div>
                    <div class="form-group mb-0">
                      <input type="submit" value="Leave Comment" class="btn btn-primary px-3" />
                    </div>
                  </form>
                </div>

              </div>

            </div>
          </div>
          <!-- partial -->

        </div>
      </div>
    </div>

  </section>

</div>