<div class="container py-5">
  <h2>Tutor Information</h2>



  <div class="row pt-5">
    <div class="col-lg-4 mt-5 mt-lg-0">
      <!-- Author Bio -->
      <div class="d-flex flex-column text-center bg-info rounded mb-5 py-5 px-4">
        <img src="assets/img/user.jpg" class="img-fluid rounded-circle mx-auto mb-3" style="width: 100px" />
        <h3 class="text-white mb-3 fs-5 fw-2"> Mahesh Konamoni</h3>
        <p class="text-white m-0 fs-6">
          Expert in <br> <br> Maths | Abacus | Science | IIT Subjects
        </p>
      </div>

      <!-- Search Form -->
      <!-- <div class="mb-5">
          <form action="">
            <div class="input-group">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Keyword"
              />
              <div class="input-group-append">
                <span class="input-group-text bg-transparent text-primary"
                  ><i class="fa fa-search"></i
                ></span>
              </div>
            </div>
          </form>
        </div> -->

      <!-- Category List -->
      <div class="mb-5  sub-expert">
        <h2 class="mb-4">Subject Experts</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between align-items-center px-3 text-info">
            <a href="javascript:void(0)" (click)="displayData()" class="text-info">Maths</a>
            <span class="badge badge-primary badge-pill">150</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center px-3">
            <a href="javascript:void(0)" (click)="displayData()" class="text-info">Science</a>
            <span class="badge badge-primary badge-pill">131</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center px-3">
            <a href="javascript:void(0)" (click)="displayData()" class="text-info">Abacus</a>
            <span class="badge badge-primary badge-pill">78</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center px-3">
            <a href="javascript:void(0)" (click)="displayData()" class="text-info">Social</a>
            <span class="badge badge-primary badge-pill">56</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center px-3">

            <a href="javascript:void(0)" (click)="displayData()" class="text-info">Hindi</a>
            <span class="badge badge-primary badge-pill">98</span>
          </li>
        </ul>
      </div>

      <!-- Single Image -->
      <div class="mb-5">
        <img src="img/blog-1.jpg" alt="" class="img-fluid rounded" />
      </div>

      <!-- Recent Post -->
      <div class="mb-5">
        <h2 class="mb-4">Recent Post</h2>
        <div class="d-flex align-items-center bg-light shadow-sm rounded overflow-hidden mb-3">
          <img class="img-fluid" src="assets/img/post-1.jpg" style="width: 80px; height: 80px" />
          <div class="pl-3">
            <h5 class="">Diam amet eos at no eos</h5>
          
          </div>
        </div>
        <div class="d-flex align-items-center bg-light shadow-sm rounded overflow-hidden mb-3">
          <img class="img-fluid" src="assets/img/post-2.jpg" style="width: 80px; height: 80px" />
          <div class="pl-3">
            <h5 class="">Diam amet eos at no eos</h5>
          
          </div>
        </div>
        <div class="d-flex align-items-center bg-light shadow-sm rounded overflow-hidden mb-3">
          <img class="img-fluid" src="assets/img/post-3.jpg" style="width: 80px; height: 80px" />
          <div class="pl-3">
            <h5 class="">Diam amet eos at no eos</h5>

          </div>
        </div>
      </div>

      <!-- Single Image -->
      <div class="mb-5">
        <img src="img/blog-2.jpg" alt="" class="img-fluid rounded" />
      </div>
      <div class="mb-5" width="450px">
        <h2 class="mb-4">Demo Videos</h2>
        <div class=" align-items-center bg-light shadow-sm rounded overflow-hidden mb-3">
          <!-- <img class="img-fluid" src="assets/img/post-2.jpg" style="width: 80px; height: 80px" /> -->
          <video src="assets/img/video-1.mp4"  controls   muted width="420px"></video>
          <div class="pl-3">
            <h5 class="">Real Numbers</h5>
          
          </div>
        </div>
        <div class=" align-items-center bg-light shadow-sm rounded overflow-hidden mb-3">
          <!-- <img class="img-fluid" src="assets/img/post-2.jpg" style="width: 80px; height: 80px" /> -->
          <video src="assets/img/video-2.mp4" controls  muted ></video>
          <div class="pl-3">
            <h5 class="">Geometry Video</h5>
          
          </div>
        </div>
        <div class=" align-items-center bg-light shadow-sm rounded overflow-hidden mb-3">
          <!-- <img class="img-fluid" src="assets/img/post-3.jpg" style="width: 80px; height: 80px" /> -->
          <video src="assets/img/video-3.mp4" controls  muted width="420px"></video>
          <div class="pl-3">
            <h5 class="">Maths Video</h5>

          </div>
        </div>
      </div>

      <!-- Tag Cloud -->
      <div class="mb-5">
        <h2 class="mb-4">Subject Materials</h2>
        <div class="d-flex flex-wrap m-n1">
          <a href="" class="btn btn-outline-info m-1">Maths</a>
          <a href="" class="btn btn-outline-info m-1">Science</a>
          <a href="" class="btn btn-outline-info m-1">Abacus</a>
          <a href="" class="btn btn-outline-info m-1">Social</a>
          <a href="" class="btn btn-outline-info m-1">Hindi</a>
          <a href="" class="btn btn-outline-info m-1">Telugu</a>
        </div>
      </div>

      <!-- Single Image -->
      <div class="mb-5">
        <img src="img/blog-3.jpg" alt="" class="img-fluid rounded" />
      </div>


    </div>
    <div class="col-lg-8">
      <div class="d-flex flex-column text-left mb-3">
        <p class="section-title pr-5">
          <span class="">Tutor Profile</span>
        </p>
        <h1 class="mb-3">Diam dolor est ipsum clita lorem</h1>

      </div>
      <div class="mb-5">
        <img class="img-fluid rounded w-100 mb-4" src="assets/img/detail.jpg" alt="Image" />
        <p>
          Sadipscing labore amet rebum est et justo gubergren. Et eirmod
          ipsum sit diam ut magna lorem. Nonumy vero labore lorem sanctus
          rebum et lorem magna kasd, stet amet magna accusam consetetur
          eirmod. Kasd accusam sit ipsum sadipscing et at at sanctus et.
          Ipsum sit gubergren dolores et, consetetur justo invidunt at et
          aliquyam ut et vero clita. Diam sea sea no sed dolores diam
          nonumy, gubergren sit stet no diam kasd vero.
        </p>
        <p>
          Voluptua est takimata stet invidunt sed rebum nonumy stet, clita
          aliquyam dolores vero stet consetetur elitr takimata rebum
          sanctus. Sit sed accusam stet sit nonumy kasd diam dolores,
          sanctus lorem kasd duo dolor dolor vero sit et. Labore ipsum duo
          sanctus amet eos et. Consetetur no sed et aliquyam ipsum justo et,
          clita lorem sit vero amet amet est dolor elitr, stet et no diam
          sit. Dolor erat justo dolore sit invidunt.
        </p>
        <h2 class="mb-4">Est dolor lorem et ea</h2>
        <img class="img-fluid rounded w-50 float-left mr-4 mb-3" src="assets/img/blog-1.jpg" alt="Image" />
        <p>
          Diam dolor est labore duo invidunt ipsum clita et, sed et lorem
          voluptua tempor invidunt at est sanctus sanctus. Clita dolores sit
          kasd diam takimata justo diam lorem sed. Magna amet sed rebum eos.
          Clita no magna no dolor erat diam tempor rebum consetetur, sanctus
          labore sed nonumy diam lorem amet eirmod. No at tempor sea diam
          kasd, takimata ea nonumy elitr sadipscing gubergren erat.
          Gubergren at lorem invidunt sadipscing rebum sit amet ut ut,
          voluptua diam dolores at sadipscing stet. Clita dolor amet dolor
          ipsum vero ea ea eos. Invidunt sed diam dolores takimata dolor
          dolore dolore sit. Sit ipsum erat amet lorem et, magna sea at sed
          et eos. Accusam eirmod kasd lorem clita sanctus ut consetetur et.
          Et duo tempor sea kasd clita ipsum et.
        </p>

      </div>



      <!-- Comment List -->
      <div class="mb-5">
        <h2 class="mb-4">3 Comments</h2>
        <div class="media mb-4">
          <img src="assets/img/user.jpg" alt="Image" class="img-fluid rounded-circle mr-3 mt-1" style="width: 45px" />
          <div class="media-body">
            <h6>
              John Doe <small><i>01 Jan 2045 at 12:00pm</i></small>
            </h6>
            <p>
              Diam amet duo labore stet elitr ea clita ipsum, tempor labore
              accusam ipsum et no at. Kasd diam tempor rebum magna dolores
              sed sed eirmod ipsum. Gubergren clita aliquyam consetetur
              sadipscing, at tempor amet ipsum diam tempor consetetur at
              sit.
            </p>
            <button class="btn btn-sm btn-light">Reply</button>
          </div>
        </div>
        <div class="media mb-4">
          <img src="assets/img/user.jpg" alt="Image" class="img-fluid rounded-circle mr-3 mt-1" style="width: 45px" />
          <div class="media-body">
            <h6>
              John Doe <small><i>019 Jan 2045 at 12:00pm</i></small>
            </h6>
            <p>
              Diam amet duo labore stet elitr ea clita ipsum, tempor labore
              accusam ipsum et no at. Kasd diam tempor rebum magna dolores
              sed sed eirmod ipsum. Gubergren clita aliquyam consetetur
              sadipscing, at tempor amet ipsum diam tempor consetetur at
              sit.
            </p>
            <button class="btn btn-sm btn-light">Reply</button>

          </div>
        </div>
        <div class="media mb-4">
          <img src="assets/img/user.jpg" alt="Image" class="img-fluid rounded-circle mr-3 mt-1" style="width: 45px" />
          <div class="media-body">
            <h6>
              John Doe <small><i>01 Jan 2045 at 12:00pm</i></small>
            </h6>
            <p>
              Diam amet duo labore stet elitr ea clita ipsum, tempor labore
              accusam ipsum et no at. Kasd diam tempor rebum magna dolores
              sed sed eirmod ipsum. Gubergren clita aliquyam consetetur
              sadipscing, at tempor amet ipsum diam tempor consetetur at
              sit.
            </p>
            <button class="btn btn-sm btn-light">Reply</button>
          </div>
        </div>
      </div>

      <!-- Comment Form -->
      <app-leave-a-comment/>
    </div>


  </div>

  <!-- <form [formGroup]="dashboardForm" (ngSubmit)="onSubmit()">
    <div class="form-group full-width">
      <label for="title">Title:</label>
      <input id="title" formControlName="title" />
    </div>
    <div class="form-group full-width">
      <label for="firstName">First Name:</label>
      <input id="firstName" formControlName="firstName" />
    </div>
    <div class="form-group full-width">
      <label for="lastName">Last Name:</label>
      <input id="lastName" formControlName="lastName" />
    </div>
    <div class="form-group full-width">
      <label for="location">Location:</label>
      <input id="location" formControlName="location" />
    </div>
    <div class="form-group full-width">
      <label for="subjects">Subjects:</label>
      <input id="subjects" formControlName="subjects" />
    </div>

    <h2>Daily Report</h2>
    <div class="form-group">
      <label for="notes">Notes:</label>
      <textarea id="notes" formControlName="notes"></textarea>
    </div>

    <h2>Invoices & Payments</h2>
    <div class="form-group">
      <label for="feeAmount">Fees Amount:</label>
      <input id="feeAmount" type="number" formControlName="feeAmount" />
    </div>
    <div class="form-group">
      <button type="button" class="pay-now" (click)="payNow()">Pay Now</button>
    </div>
    <div>
      <h3>Payment History:</h3>
      <ul>
        <li *ngFor="let payment of paymentHistory">{{ payment }}</li>
      </ul>
    </div>

    <h2>My Materials</h2>
    <div class="form-group">
      <label for="materialSubject">Subjects:</label>
      <select id="materialSubject" formControlName="materialSubject">
        <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="materialChapter">Chapters:</label>
      <select id="materialChapter" formControlName="materialChapter">
        <option *ngFor="let chapter of chapters" [value]="chapter">{{ chapter }}</option>
      </select>
    </div>
    <div>
      <h3>Materials:</h3>
      <ul>
        <li *ngFor="let material of materials">{{ material }}</li>
      </ul>
    </div>

    <h2>My Assignments</h2>
    <div>
      <h3>Assignments:</h3>
      <ul>
        <li *ngFor="let assignment of assignments">{{ assignment }}</li>
      </ul>
    </div>

    <h2>Test Zone</h2>
    <div class="form-group">
      <label for="testClass">Filter by Class:</label>
      <select id="testClass" formControlName="testClass">
        <option *ngFor="let cls of classes" [value]="cls">{{ cls }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="testSubject">Filter by Subject:</label>
      <select id="testSubject" formControlName="testSubject">
        <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="testChapter">Filter by Chapter:</label>
      <select id="testChapter" formControlName="testChapter">
        <option *ngFor="let chapter of chapters" [value]="chapter">{{ chapter }}</option>
      </select>
    </div>
    <div>
      <h3>Tests:</h3>
      <ul>
        <li *ngFor="let test of tests">{{ test }}</li>
      </ul>
    </div>

    <h2>Notifications</h2>
    <div>
      <h3>Custom Tests:</h3>
      <ul>
        <li *ngFor="let customTest of customTests">{{ customTest }}</li>
      </ul>
    </div>
    <div>
      <h3>Messages:</h3>
      <ul>
        <li *ngFor="let message of messages">{{ message }}</li>
      </ul>
    </div>

    <h2>Chat Support</h2>
    <div class="form-group">
      <button type="button" class="support" (click)="loginChat()">Login</button>
    </div>

    <h2>Post a Query</h2>
    <div class="form-group">
      <button type="button" class="query" (click)="loginQuery()">Login</button>
    </div>

    <button type="submit">Submit</button>
  </form> -->
</div>

