<div class="container-fluid bg-info p-5 d-flex">
  <div class="col-lg-12 row align-items-center px-3">
    <div class="col-lg-7">
      <h4 class="text-white fs-4">Kids Learning Center</h4>
      <h1 class="font-weight-bold fs-1 text-white">
        A good education is always a base of</h1>
      <p class="text-white mt-4">Equitable society. Consectur adipiscing elit sed do eiusmod tempor
        incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostruda commodo consequat. abore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostruda comm</p>
      <div class="mt-4">
        <button class="rounded-pill btn btn-secondary py-2 px-3 mr-3 fs-6" (click)="startAsStudent()">Start as
          Student
        </button>
        <button class="rounded-pill btn btn-secondary py-2 px-3 mr-3 fs-6" (click)="joinAsInstructor()">Join
          as Instructor</button>
        <button class="rounded-pill btn btn-danger py-2 px-3 fs-6" (click)="openDialog()">Book a Demo</button>
      </div>
      <div class="mt-4">
        <p class="text-warning fs-6 fw-medium">It’s Free!</p>
        <p class="text-white">You can also join as parent to explore. <a (click)="joinAsParent()">Join today</a></p>
      </div>
    </div>
    <div class="col-lg-5">
      <img class="img-fluid" src="assets/img/header.png">
    </div>
  </div>
</div>
<!-- <app-categories/>
<app-tutor-list></app-tutor-list> -->
<router-outlet />
<!-- <app-curosel></app-curosel> -->